/* 
TODO: Add styles to match the layout in the image.
Note: you should only need to use flexbox properties and margin/padding to create the layout.
*/

/* Header */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav{
    padding: 1rem 2rem;
}

/* Cards */
.card-container{
    display: flex;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Features  */
.features{
    display: flex;
    justify-content: center;
}

.feature-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer */


/* 
Challenge: Use flexbox in media queries to create a responsive layout 
*/


