/* 
TODO: Add styles to match the layout in the image.
Note: you should only need to use flexbox properties and margin/padding to create the layout.
*/

/* Header */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav{
    padding: 1rem 2rem;
}

/* Cards */
.card-container{
    display: flex;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5rem;
}

/* Features  */
.features{
    display: flex;
    padding: 2.5rem 0;
}

.feature-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
    text-align: center;
}

/* Footer */
.footer-content{
    display: flex;
    justify-content: center;
}

.footer-section{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1;
}

/* 
Challenge: Use flexbox in media queries to create a responsive layout 
*/


